@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200..400;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: lightpink;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

.btn {
    background-color:deeppink;
    border-radius: 5px;
    border: none;
    color: lightpink;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    font-family: inherit;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.7;
}